<div class="container mx-auto">
    <div class="w-full flex flex-col items-center justify-center banner gap-4 font-sans font-bold text-white uppercase">
        <h4 class="text-4xl bg-none">Loom Day</h4>
        <h2 class="text-6xl">Flat 20% off everything</h2>
        <h4 class="text-2xl">Member exclusive</h4>
    </div>
    @if (isLoading) {
        <div class="flex justify-center items-center my-72">
            <app-loader></app-loader>
        </div>
    }
    <div class="grid grid-cols-4 my-5">
        @for (product of productList; track $index) {
        <div (click)="toProductDetail(product.productId)"
            class="card border-2 border-blue-100 rounded-lg overflow-hidden bg-white m-8 cursor-pointer">
            <div class="card-img-top">
                <img [src]="product.productImgUrl">
            </div>
            <div class="card-body p-4">
                <div class="flex justify-between items-center">
                    <h3 class="font-semibold uppercase text-sm">{{product.productName}}</h3>
                    <p class="font-sans text-xs">{{product.productPrice | currency: 'INR'}}</p>
                </div>
                <div class="flex justify-between items-center">
                    <p class="text-xs">{{product.productCategory}}</p>
                    <div class="flex gap-2">
                        <div class="bg-black w-2 h-2 border border-black"></div>
                        <div class="bg-blue-500 w-2 h-2 border border-black"></div>
                        <div class="bg-red-500 w-2 h-2 border border-black"></div>
                        <div class="bg-white w-2 h-2 border border-black"></div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>