<div class="container mx-auto">
    <div
        class="w-full flex flex-col items-center justify-center banner gap-4 font-sans font-bold text-white uppercase rounded-b-3xl">
        <h4 class="text-4xl bg-none">Loom Day</h4>
        <h2 class="text-6xl">Flat 20% off everything</h2>
        <h4 class="text-2xl">Member exclusive</h4>
    </div>
    @if (isLoading) {
    <div class="flex justify-center items-center my-72">
        <app-loader></app-loader>
    </div>
    }

    <div class="filter flex justify-between pt-12 px-8 items-center text-slate-500">
        <div class="searchBar w-80">
            <input class="w-full rounded-xl p-1 bg-slate-50" type="text" [(ngModel)]="searchQuery"
                (input)="applyFilter()" placeholder="Search Product...">
        </div>
        <div class="flex gap-4">
            <select name="category" [(ngModel)]="selectedCategory" id="category" (change)="applyFilter()"
                class="rounded-xl p-1 bg-slate-50">
                <option value="">All</option>
                @for (category of categories; track $index) {
                <option [value]="category">{{category}}</option>
                }
            </select>
            <select class="rounded-xl p-1 bg-slate-50" name="sort" [(ngModel)]="sort" (change)="applyFilter()">
                <option value="asc">Low to High</option>
                <option value="desc">High to Low</option>
            </select>
        </div>
    </div>
    @if (filteredProducts.length === 0) {
    <h2 class="text-center py-40 text-2xl font-semibold text-slate-900">No Products Found!</h2>
    }
    <div class="grid grid-cols-4 my-5">
        @for (product of filteredProducts; track $index) {
        <div (click)="toProductDetail(product.productId)"
            class="card border-2 border-blue-100 rounded-lg overflow-hidden bg-white m-8 cursor-pointer">
            <div class="card-img-top">
                <img [src]="product.productImgUrl">
            </div>
            <div class="card-body p-4">
                <div class="flex justify-between items-center">
                    <h3 class="font-semibold uppercase text-sm">{{product.productName}}</h3>
                    <p class="font-sans text-xs">{{product.productPrice | currency: 'INR'}}</p>
                </div>
                <div class="flex justify-between items-center">
                    <p class="text-xs">{{product.productCategory}}</p>
                    <div class="flex gap-2">
                        <div class="bg-black w-2 h-2 border border-black"></div>
                        <div class="bg-blue-500 w-2 h-2 border border-black"></div>
                        <div class="bg-red-500 w-2 h-2 border border-black"></div>
                        <div class="bg-white w-2 h-2 border border-black"></div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>