<div class="container mx-auto">
    <div class="flex justify-center items-center mt-12 mb-8">
        <h1 class="text-xl font-semibold text-slate-500 uppercase">Register</h1>
    </div>
    <div class="mx-auto gap-12 bg-white p-8 rounded-t-3xl border-t border-blue-100 w-2/4">
        <form (ngSubmit)="onRegister()">
            <div class="flex flex-col mb-4">
                <label class="text-sm text-slate-500">User Name</label>
                <input required [(ngModel)]="name" name="name" type="text" class="p-1 border rounded-lg">
            </div>
            <div class="flex flex-col mb-4">
                <label class="text-sm text-slate-500">Email</label>
                <input required="" [(ngModel)]="email" name="email" type="email" class="p-1 border rounded-lg">
            </div>
            <div class="flex flex-col mb-4">
                <label class="text-sm text-slate-500">Password</label>
                <input required="" [(ngModel)]="password" name="email" type="password" class="p-1 border rounded-lg">
            </div>
            <button
                class="w-full bg-slate-900 rounded-full text-white p-1 my-2 hover:bg-slate-800 transition-all duration-300">
                <ng-container *ngIf="!isLoading; else spinner">Register</ng-container>
            </button>
        </form>
        <p class="text-sm text-slate-500">Already have an account? <span routerLink="/login"
                class="text-slate-900 cursor-pointer font-semibold hover:text-blue-500 transition-all duration-300">Login</span>
        </p>
    </div>
</div>

<ng-template #spinner>
    <div class="spinner-border" role="status">
        <span class="hidden">Loading...</span>
    </div>
</ng-template>