<div class="container mx-auto">
    <div class="flex flex-row my-36">
        <div class="basis-4/5">
            <h1 class="text-left text-8xl font-semibold">Modern Threads, Timeless Elegance.</h1>
        </div>
    </div>
    <div class="flex justify-center text-xl"><i class="fa-solid fa-caret-down mb-32"></i></div>
    <div class="flex flex-col gap-20 mx-auto w-3/4 mb-20">
        <div class="relative text-white">
            <img src="image1.jpg">
            <div class="absolute bottom-4 left-4">
                <h3 class="font-semibold text-xl">Woven to Perfection, Styled for You</h3>
                <h6 class="text-xs">Each piece from Loom Collective is crafted with precision, blending timeless design and sustainable
                    fabrics for your ultimate comfort.</h6>
            </div>
        </div>
        <div class="relative text-white">
            <img src="image2.jpg">
            <div class="absolute bottom-4 left-4">
                <h3 class="font-semibold text-xl">Elevate Your Everyday with Loom Collective</h3>
                <p class="text-xs">Discover effortless style with our collection, where every garment is designed to keep you looking
                    and
                    feeling your best.</p>
            </div>
        </div>
        <div class="relative text-white">
            <img src="image3.jpg">
            <div class="absolute bottom-4 left-4">
                <h3 class="font-semibold text-xl">Sustainable Fashion, Unmatched Comfort</h3>
                <p class="text-xs">Loom Collective redefines fashion with high-quality, eco-conscious clothing that offers both style
                    and
                    sustainability in every thread.</p>
            </div>
        </div>
    </div>
</div>