<div class="container mx-auto">
    <div class="flex justify-between items-center m-8">
        <h1 class="text-xl  font-semibold text-slate-500 uppercase">Sales</h1>
        <button class="bg-slate-900 px-4 py-2 text-white rounded-full hover:bg-slate-800 transition-all duration-300"
            routerLink="/admin-dashboard">Back</button>
    </div>
    <div class="flex mx-auto gap-12 bg-white p-8 rounded-t-3xl border-t border-blue-100 w-4/5">
        <table class="table-auto w-full rounded-t-3xl overflow-hidden border-separate">
            <caption class="caption-bottom text-xs text-slate-500 my-2">List of all Sales</caption>
            <thead class="bg-slate-200 text-slate-900">
                <tr>
                    <th class="p-2">ID</th>
                    <th class="p-2">Name</th>
                    <th class="p-2">Email</th>
                    <th class="p-2">Action</th>
                </tr>
            </thead>
            <tbody class="bg-slate-50 text-center text-slate-700 font-sans">
                @for (user of users; track $index) {
                <tr>
                    <td class="text-center p-2">{{user.uid}}</td>
                    <td class="text-start p-2">{{user.name}}</td>
                    <td class="text-start p-2">{{user.email}}</td>
                    <td class="text-center p-2">
                        <button>Report</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>