<div class="container mx-auto">
    <div class="flex justify-between items-center m-8">
        <h1 class="text-xl font-semibold text-slate-500 uppercase">Cart Details</h1>
        <div class="flex gap-8 items-center text-sm">
            <button
                class="bg-slate-900 px-4 py-2 text-white rounded-full hover:bg-slate-800 transition-all duration-300"
                routerLink="/products">Back</button>
        </div>
    </div>
    <div class="flex mx-auto bg-white p-4 rounded-t-3xl border-t border-blue-100 w-3/4">
       
    </div>
</div>